name: CI/CD Pipeline - Flask DevSecOps

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build Docker image
      run: docker build -t flask-devsecops-app .

    - name: Scan image with trivy
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: 'flask-devsecops-app:latest'
        format: 'table'
        exit-code: '0'

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.docker_username }}
        password: ${{ secrets.docker_poassword }}

    - name: Push image to DockerHub
      run: |
        docker tag flask-devsecops-app ${{ secrets.docker_username }}/flask-devsecops-app:latest
        docker push ${{ secrets.docker_paswword }}/flask-devsecops-app:latest
