- name: Build Docker image
  run: docker build -t flask-devsecops-app .

- name: Scan image with trivy
  uses: aquasecurity/trivy-action@master
  with:
    image-ref: 'flask-devsecops-app:latest'
    format: 'table'
    exit-code: '0'

- name: Login to DockerHub
  uses: docker/login-action@v3
  with:
    username: ${{ secrets.DOCKER_USERNAME }}
    password: ${{ secrets.DOCKER_PASSWORD }}

- name: Push image to DockerHub
  run: |
    docker tag flask-devsecops-app ${{ secrets.DOCKER_USERNAME }}/flask-devsecops-app:latest
    docker push ${{ secrets.DOCKER_USERNAME }}/flask-devsecops-app:latest
